/* Guest Layout Wrapper */
.guest-layout {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f2f7fc;  /* Soft light blue background */
  color: #1e2a38; /* Darker navy text */
}

.guest-header {
  background-color: #327ab7;
  text-align: center;
  color: white;
  padding: 10px 0; /* Reduced vertical space */
  border-bottom: 1px solid #255a8c;
}


.guest-header .container {
  max-width: 960px;
  margin: 0 auto;
}

.guest-header .title {
    font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 0.4px;
}
.guest-header p:not(.title) {
    font-size: 0.8rem;
  font-weight:500;
  letter-spacing: 0.4px;
}


@media (max-width: 600px) {
  .guest-header .title {
    font-size: 1rem;
  }

  .guest-header p:not(.title) {
    font-size: 0.8rem;
  }
}



/* Main Content */
.guest-main-content {
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

/* Footer */
.guest-footer {
  background-color: #2e6a98;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 0.9rem;
  font-weight: 500;
}

/* Container Utility */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}
